body {
    background-image: url(ua.webp);
    height: auto;
}

h1 {
    color: yellowgreen;
    
}

.jegyzet {
    font-size: smaller;
    font-style: italic;
    padding-top: 2em;
}
a {
    font-size: large;
    color: black;
}